/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: linear-gradient(to bottom right, #ff7e5f, #4357aa, #2ca42c);
  height: 100vh; /* Full viewport height */
  width: 100%;
}
.card-header{
    background-color: #ffffff;
    border-bottom: 1px solid #d1d5db;
}